/*
 * Color palette
 * ----------------------------------------------------- */


$white:         #ffffff;
$black:         #000000;

$facebook:      #5d82d1;
$twitter:       #40bff5;
$googleplus:    #eb5e4c;
$youtube:       #ef4e41;

$darker-green:  #00767e;

$darker-blue:   #4b5964;
$mdarker-blue:  #3f677c;
$dark-blue:     #526e82;
$mdark-blue:    #49768b;
$blue:          #6190a6;
$light-blue:    #00bcd0;
$mlighter-blue: #00c2d0;
$lighter-blue:  #00eafe;

$darker-gray:   #67747b;
$gray:          #5b6065;
$mlight-gray:   #ebebeb;
$light-gray:    #49768b;
$mlighter-gray: #879da9;
$lighter-gray:  #d8dfe4;
$lightest-gray: #e1e7e9;